@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    Font-size: 16px;
    color: #ffffff;
}

body {
    background-color: hsl(0, 100%, 74%);
    background-image: url(./intro-desktop.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.container {
    width: 450px;
}

#text {
    padding-top: 100px;
    font-weight: 400;
}

h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

#form {
    text-align: center;

}

#form #head {
    font-size: 14px;
    padding: 12px;
    background-color: hsl(248, 32%, 49%);
    border-radius: 7px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0px 5.5px 3px rgba(0, 0, 0, 0.3);

}

p span {
    font-size: 14px;
    font-weight: 100;
}

form {
    box-shadow: 0px 5.5px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    height: auto;

}

input {
    font-size: 14px;
    font-weight: 500;
    width: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 5px;
    border: 1.5px solid hsl(246, 25%, 77%);
    outline-color: #000;
    color: black;
}

.form_control {
    position: relative;
}

.form_control small {
    display: none;
    top: 65px;
    bottom: 0;
    left: 22em;
    position: absolute;
    font-size: 10px;
    color: #e74c3c;
}
#length-error{
    left:17em;
}

svg {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
}

#button {
    margin-bottom: 0;
    background-color: hsl(154, 59%, 51%);
    outline: none;
    border: none;
    width: 375px;
    color: #ffffff;
}

#button:hover {
    box-shadow: 0px 5.5px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#condition {
    font-size: 8px;
    color: hsl(246, 25%, 77%);
}

#condition a {
    font-size: 8px;
    color: hsl(0, 100%, 74%);
}


@media (max-width:1032px) {
    main {
        padding-top: 0px;
    }

    #text {
        padding-top: 10px;
        text-align: center;
    }

    form {
        margin-bottom: 50px;
    }
}


@media (max-width:415px) {

    body {
        background-image: url(./intro-mobile.png);
    }

    .container {
        width: 300px;
    }

    input {
        padding: 5px;
        width: 240px;
    }

    .form_control small {
        top: 50px;
        bottom: 0;
        left: 10em;
        font-size: 10px;
    }
    #length-error{
    left:5em;
}

    svg {
        top: 20px;
        right: 20px;
    }

    #button {
        padding: 5px;
        width: 260px;
    }

    #form {
        margin-left: 0px;
    }
}